<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.SEOTitle | default: site.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script defer src="{{ '/assets/js/toc.js' | relative_url }}"></script>
  </head>
  <body>
    <div class="page-frame"></div>
    {% include site-header.html %}

    <main class="site-main">
      {{ content }}
    </main>

    {% include site-footer.html %}
  </body>
</html>
